@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Hola mi nombre es Matias Chamarez, tengo 22 años</p>
    <p>Soy integrante del equipo de Bi-Clouds</p>
    <img src="~/img/logo bi cloud.jpg" alt="Foto Mati" width="550px"/>
</div>
